.loginPage {
  position: relative;
  width: 100%;
  top: 0;
  bottom: 0;
  background: radial-gradient(1374.59% 235.61% at 0% 0%, #5ad6f3 20.92%, #17214c 79.33%);
  &::before {
    content: '';
    position: absolute;
    background-image: url('~@/assets/login_bg_01.svg');
    height: 100vh;
    width: 100%;
  }
  &::after {
    content: '';
    position: absolute;
    background-image: url('~@/assets/login_bg_02.svg');
    opacity: 0.7;
    height: 100vh;
    width: 100%;
    background-position-y: bottom;
    background-repeat: repeat-x;
  }
  .v-content__wrap {
    height: 100vh;
    overflow-y: auto;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    z-index: 1;
    position: relative;
    .v-card {
      width: 60%;
      margin: 2rem 0;
      max-width: 36rem;
      min-height: 36rem;
      padding: 3rem;
      .loginInfo {
        text-align: center;
        p {
          margin: 1.4rem 0;
          color: $gray2;
          font-weight: 700;
          a {
            text-decoration: underline;
            color: $primaryDark;
            font-weight: 700;
          }
        }
      }
      @include screen('notebook') {
        width: 70%;
        padding: 2rem;
      }
      @include screen('tablet') {
        width: 90%;
        padding: 1rem;
      }
    }
    .v-card__title {
      justify-content: center;
      padding-bottom: 0;
      padding-top: 0;
      .v-image {
        max-width: 165px;
        height: 138px;
        margin-bottom: 1.5rem;
        @include screen('tablet') {
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
      }
      h5 {
        width: 100%;
        font-size: 1.5rem;
        text-align: center;
        margin: 1rem 0 0.5rem 0;
        font-weight: 700;
        color: $primaryDark;
      }
    }
    .btnList {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 1rem;
      .v-input--selection-controls {
        margin-top: 0;
      }
      .v-label {
        margin-bottom: 0;
        margin-top: 0;
      }
      .v-input {
        padding-top: 0;
      }
      a {
        margin-top: 0.25rem;
        color: $primaryDark;
        font-weight: 700;
      }
    }
    .infoData {
      h3 {
        span {
          line-height: 2rem;
        }
      }
      p {
        color: $gray2;
        font-weight: 500;
      }
      p.content {
        margin-bottom: 2rem;
      }
      .img {
        display: flex;
        justify-content: center;
        margin: 2.5rem 0;
      }
    }
    .title {
      display: block;
      margin-top: 0;
      h3 {
        font-size: 1.75rem;
        color: $dark;
      }
    }
    label {
      color: $gray2;
    }
    .infoForm {
      label {
        margin-top: 0;
      }
    }
  }
  .remark {
    font-weight: 500;
    font-size: 1rem;
    color: $gray2;
  }
}
